* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #f0e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partearribaceleste {
    width: 100%;
    height: 6rem;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: end;
}

#trespartesarriba {
    width: 50%;
    height: 50%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#parterojaarriba {
    width: 20%;
    height: 100%;
    background-color: #f15d5d;
}

#partergrisclaroarriba {
    width: 40%;
    height: 100%;
    background-color: #f0e6e6;
}

#partegrisoscuroarriba {
    width: 40%;
    height: 100%;
    background-color: #a79595;
}

#partehorizontaldoscuadrados {
    width: 100%;
    height: 6rem;
    background-color: #f0e6e6;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0em 0.2em 0.5em #7f7f7f;
}

#seccióndoscuadrados {
    height: 100%;
    width: 10%;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#cuadradoschiquitosarriba {
    width: 20%;
    aspect-ratio: 1;
    background-color: #a79595;
}

#barrablancalarga {
    height: 35%;
    width: 80%;
    background-color: white;
}

#partegrandedelmedio {
    width: 90%;
    height: calc(100% - 12rem);
    background-color: red;
    display: flex;
    flex-direction: column;
}

#partenaranjadentro {
    width: 100%;
    height: 15%;
    background-color: rgb(238, 163, 25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#adentronaranja {
    width: 85%;
    height: 85%;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#cuatropartes {
    width: 20%;
    height: 80%;
    /*background-color: green;*/
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#cuadradoy1línea {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1.5rem;
}

#cuadradoblanco {
    width: 30%;
    aspect-ratio: 1;
    background-color: white;
}

#línea1 {
    width: 60%;
    height: 20%;
    background-color: rgb(28, 28, 41);
}

#líneas3 {
    width: 100%;
    height: calc(100% - 50% - 1rem);
    /*background-color: rgb(201, 53, 169);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#líneasblancas {
    width: 100%;
    height: 10%;
    background-color: white;
}

#líneablancacorta {
    width: 50%;
    height: 10%;
    background-color: white;
}

#parte1blancadentro {
    width: 100%;
    height: 31.5%;
    background-color: white;
}

#partegrisoscurodentro {
    width: 100%;
    height: 7%;
    background-color: rgb(177, 171, 171);
}

#partegrisclarodentro {
    width: 100%;
    height: 15%;
    background-color: rgba(236, 230, 217, 0.979);
}

#parte2blancadentro {
    width: 100%;
    height: 31.5%;
    background-color: white;
}